<ul>
{% for suite in struct %}
    <li>
        <a href="#" class="toggle_nav">&gt;</a>&nbsp;<span id="nav_{{ suite.suite_id }}" class="naventry">{{ suite.suite }}</span>
        <button type="button" class="add-remove-all"
                data-target="{{ suite.suite_id }}"
                data-action="add"
                data-add="+"
                data-remove="-">+</button>
        <ul style="display:none">
        {% for testset in suite.testsets %}
            <li>
                <a href="#" class="toggle_nav">&gt;</a>&nbsp;<a href="index.html#{{ testset.testset_path }}"
                   class="navlink naventry"
                   data-target="{{ testset.testset_path }}"
                    id="nav_{{ testset.testset_path_id }}">
                    {{ testset.testset }}
                </a>
                <button type="button" class="add-remove-all"
                        data-target="{{ testset.testset_path }}"
                        data-action="add"
                        data-add="+"
                        data-remove="-">+</button>
                <ul style="display: none">
                    {% for test in testset.tests %}
                        <li class="test_li">
                            <a href="index.html#{{ test.test_path }}"
                               class="navlink naventry"
                               id="nav_{{ test.test_path_id }}"
                               data-target="{{ test.test_path }}">
                                {{ test.title }}
                            </a>
                            <button type="button" class="add-remove"
                                    data-target="{{ test.test_path }}"
                                    data-action="add"
                                    data-add="+"
                                    data-remove="-">+</button>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>