<h1>
    {{ suite_name }}: {{ testset_name }}
    <button type="button" class="add-remove-all"
            data-target="{{ safe_id(suite_name) }}/{{ safe_id(testset_name) }}"
            data-action="add"
            data-add="Add All"
            data-remove="Remove All">Add All</button>
</h1>
<a href="testset_csvs/{{ id }}.csv">Download Testset</a>

{% for test in tests %}
    <h2>
        <a id="{{ safe_id(test.title) }}"></a>
        {{ loop.index }}. {{ test.title }}
        <button type="button" class="add-remove"
                data-target="{{ safe_id(suite_name) }}/{{ safe_id(testset_name) }}/{{ safe_id(test.title) }}"
                data-action="add"
                data-add="Add"
                data-remove="Remove">Add</button>
    </h2>

    {% if test.depends %}
    <div class="depends">
        <strong>Depends On</strong>
        <ul>
        {% for d in test.depends %}
            <li>
                <a href="#{% if d.suite %}{{ safe_id(d.suite) }}{% endif %}{% if d.testset %}/{{ safe_id(d.testset) }}{% endif %}{% if d.test %}/{{ safe_id(d.test) }}{% endif %}"
                    class="navlink"
                   data-target="{% if d.suite %}{{ safe_id(d.suite) }}{% endif %}{% if d.testset %}/{{ safe_id(d.testset) }}{% endif %}{% if d.test %}/{{ safe_id(d.test) }}{% endif %}"
                >
                    {% if d.suite %}{{ d.suite }}{% endif %}
                    {% if d.testset %}: {{ d.testset }}{% endif %}
                    {% if d.test %}: {{ d.test }}{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if test.context %}
    <strong>Test context</strong>
    <ul>
    {% for key, value in test.context.items() %}
        <li>{{key}}: {{value}}</li>
    {% endfor %}
    </ul>
    {% endif %}


    {% if test.setup %}
    <div class="setup"><strong>Setup</strong>:
        {% for s in test.setup %}
            <p>{{ s }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <td id="step_id" style="width: 1%">ID</td>
                <td id="action">Action</td>
                <td id="result">Expected Result</td>
                <td style="width: 1%">&nbsp;</td>
            </tr>
        </thead>
        <tbody>
        {% set test_id = loop.index %}
        {% for step in test.steps %}
            <tr>
                <td>{{ id_prefix }}.{{ test_id }}.{{ loop.index }}</td>
                <td>
                    {{ step.step|line_breaker|safe }}
                    {% if step.path %}
                    <br><br>Application Link: <a href="{{ application_base }}{{ step.path }}" target="_blank">{{ application_base }}{{ step.path }}</a>
                    {% endif %}
                    {% if step.resource %}
                    <br><br>Test Resource: <a href="{{ resource_base }}{{ step.resource }}" target="_blank">{{ resource_base }}{{ step.resource }}</a>
                    {% endif %}
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% if step.results %}
                {% set step_id = loop.index %}
                {% for result in step.results %}
                    <tr>
                        <td>{{ id_prefix }}.{{ test_id }}.{{ step_id }}.{{ loop.index }}</td>
                        <td>&nbsp;</td>
                        <td>{{ result }}</td>
                        <td><input type="checkbox"></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <hr>

{% endfor %}
