<h1>
    <a href="{{id}}.html">{{ suite_name }}: {{ testset_name }}</a>
    <button type="button" class="add-remove-all"
            data-target="{{ safe_id(suite_name) }}/{{ safe_id(testset_name) }}"
            data-action="add"
            data-add="Add All"
            data-remove="Remove All">Add All</button>
</h1>
<a href="testset_csvs/{{ id }}.csv">Download Testset</a>

{% for test in tests %}
    <h2>
        <a href="index.html#{{ safe_id(testset_name) }}/{{ safe_id(test.title) }}" id="{{ safe_id(test.title) }}">{{ loop.index }}. {{ test.title }}</a>
        <button type="button" class="add-remove"
                data-target="{{ safe_id(suite_name) }}/{{ safe_id(testset_name) }}/{{ safe_id(test.title) }}"
                data-action="add"
                data-add="Add"
                data-remove="Remove">Add</button>
    </h2>

    {% if test.context %}
    <strong>Test context</strong>
    <ul>
    {% for key, value in test.context.items() %}
        <li>{{key}}: {{value}}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if test.setup %}
    <div class="setup"><strong>Setup</strong>:
        {% for s in test.setup %}
            <p>{{ s }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <td id="step_id">ID</td>
                <td id="action">Action</td>
                <td id="result">Expected Result</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
        {% set test_id = loop.index %}
        {% for step in test.steps %}
            <tr>
                <td>{{ id_prefix }}.{{ test_id }}.{{ loop.index }}.</td>
                <td>
                    {{ step.step }}
                    {% if step.path %}
                    <br><br>Application Link: <a href="{{ application_base }}{{ step.path }}" target="_blank">{{ application_base }}{{ step.path }}</a>
                    {% endif %}
                    {% if step.resource %}
                    <br><br>Test Resource: <a href="{{ resource_base }}{{ step.resource }}" target="_blank">{{ resource_base }}{{ step.resource }}</a>
                    {% endif %}
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% if step.results %}
                {% set step_id = loop.index %}
                {% for result in step.results %}
                    <tr>
                        <td>{{ id_prefix }}.{{ test_id }}.{{ step_id }}.{{ loop.index }}</td>
                        <td>&nbsp;</td>
                        <td>{{ result }}</td>
                        <td><input type="checkbox"></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <hr>

{% endfor %}
