{% extends "base.html" %}

{% block branch_form_hidden %}
{% if selected_plan_id %}
<input type="hidden" name="plan_id" value="{{ selected_plan_id }}">
{% endif %}
{% endblock %}

{% block sidebar %}
{% include("plans_navigation.html") %}
{% endblock %}

{% block content_placeholder %}
<h2>Plan content</h2>
<p class="lead">Select a testset or test from the selected plan to view details.</p>
{% endblock %}

{% block page_data %}
<script id="suite-data" type="application/json">{{ suite_payload|tojson }}</script>
<script id="default-base-url" type="application/json">{{ default_base_url|tojson }}</script>
<script id="selected-branch" type="application/json">{{ selected_branch|tojson }}</script>
<script id="freshness-check-interval" type="application/json">{{ freshness_check_interval_seconds|tojson }}</script>
<script id="active-plan-id" type="application/json">{{ active_plan_id|tojson }}</script>
<script id="plan-test-ids" type="application/json">{{ plan_test_ids|tojson }}</script>
{% endblock %}

